:root{
    /*Colores*/
    --color-primario:#000000;
    --color-secondary:#2b2b2b;
    --color-fuente1:#ffffff;
    --color-fuente2:#06f8e4;
    /*Fuentes
    */
    --fuente-principal:Arial;
}
*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
    
}
html{
    font-size: 62.5%;
    font-family: Arial;
}
body{
    font-size:1.6rem;
   
}
/*INCIO DEL HEADER*/
/*----------------------------------------------------------------*/
header{
    width:100%;
    height:60px;
    background-color: var(--color-primario);
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header ul{
    width:600px;
    height:40px;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.Menu__item{
    list-style: none;
}
.Menu__item--link{
    text-decoration:none;
    font-weight: 600;
    color:var(--color-fuente2);
}
/*FIN DEL HEADER*/
/*----------------------------------------------------------------*/
/*INCIO DEL MAIN*/
/*----------------------------------------------------------------*/
main{
    width:100%;
    height:auto;
    background-color: #2b2b2b;
}
.section__resumen{
    display:flex;
    flex-direction: row;
    width:900px;
    height:250px;
    margin:0 auto;
}
.section__resumen--imgperfil{
    width:150px;
    height:100%;
    object-fit: cover;
    display:grid;
    place-items: center;
}
.section__resumen--imgperfil img{
    width:120px;
    height:170px;
    object-fit: cover;
    border-radius: 10px;
}
.section__resumen--descripcion{
    padding-top:40px;
    color:white;
    
}
.section__resumen--descripcion p{
    padding-top:10px;
}

.section__habilidades{

}
/*FIN DEL MAIN*/
/*----------------------------------------------------------------*/
/*INCIO DEL FOOTER*/
/*----------------------------------------------------------------*/
footer{
    width:100%;
    height:100px;
}
/*FIN DEL FOOTER*/
/*----------------------------------------------------------------*/
